<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Movies</title>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/header') %>
      <h1><%= title %></h1>

      <% for (movie of movies) {%>
      <div><%= movie.title %> (<%= movie.year %>)</div>
      <% } %>
      <br>
         <form action="/movies" method="post">
             <label for="movietitle">Titre du film</label>
             <input type="text" id="movietitle" name="movietitle">
             <label for="movieyear">Année de sortie</label>
             <input type="text" id="movieyear" name="movieyear">
             <button type="submit">Ajouter</button>
         </form>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
