<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Movies</title>
  </head>
  <body>
    <div class="container">
      <%- include('./partials/header') %>
      <h1><%= title %></h1>

      <div id="movies">
        <% for (movie of movies) {%>
        <div><%= movie.title %> (<%= movie.year %>)</div>
        <% } %>
      </div>

      <br />
      <form action="/movies" method="post">
        <label for="movietitle">Titre du film</label>
        <input type="text" id="movietitle" name="movietitle" />
        <label for="movieyear">Année de sortie</label>
        <input type="text" id="movieyear" name="movieyear" />
        <button type="submit">Ajouter</button>
      </form>
    </div>

    <%- include('./partials/footer') %>

    <script>
      const form = document.querySelector("form");

      form.addEventListener("submit", function (e) {
        e.preventDefault();
        fetch("/movies", {
          method: "post",
          body: new FormData(form),
        })
          .then(checkStatus)
          .catch(function (error) {
            console.error("Request failed", error);
          });

        function checkStatus(response) {
          if (response.status >= 200 && response.status < 300) {
            let newMovieDiv = document.createElement("div");
            const movieTitle = document.querySelector("#movietitle").value;
            const movieYear = document.querySelector("#movieyear").value;
            newMovieDiv.innerHTML = `${movieTitle} (${movieYear})`;

            document.querySelector("#movies").appendChild(newMovieDiv);
            form.reset();
          }
        }
      });
    </script>
  </body>
</html>
